MONGODB_URL=mongodb+srv://<user_name>:<db_password>@collaborativesystem.2khu7ri.mongodb.net/?appName=CollaborativeSystem
MONGODB_DB_NAME=collaborative_db

RABBITMQ_NUM_QUEUES="1"
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=nam.dev
RABBITMQ_PASS=Nam12345@
EXCHANGE=ot_exchange
EXCHANGE_BOARDCAST= broadcast_to_room

REDIS_URL=redis://:Nam12345%40@localhost:6379/0